opt/psipred
opt/psipred/*
opt/hhsuite-2.0.16-linux-x86_64/*
opt/hhsuite-latest-linux-x86_64.tar.gz
opt/hhsuite-2.0.16-linux-x86_64/
# output/*
/bin/dependencies/fragfold
/bin/dependencies/fragfold/*
*__pycache__*
*.DS_store
